
.add-link-btn-text,
.add-collab-btn-text{
  display: flex;
  font-size: larger;
  align-items: center;
}

.add-link-btn,
.add-collab-btn {
  width: 3em;
  margin: 0 1em 0 1em;
}

.project-dashboard{
  width: 85vw;
  display: flex;
  flex-direction: column;
}

.plus {
  width: 2em;
  height: 2em;
}

.project-dashboard{
  overflow-y: scroll;
}

