* {
  margin: 0;
}

html, body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
  margin: 1em;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 3em;
  width: 8em;
  align-self: center;
  margin-bottom: 1em;
  font-size: var(--s-font-size-sm);
  font-weight: var(--s-font-weight-bold);
  font-family: var(--s-font-family-default);
  text-transform: uppercase;
  text-align: center;
}
