.project-list {
  width: 50vw; 
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mod-selection {
  display: flex;
  justify-content: space-evenly;
  height: 3em;
}

.project {
  z-index: 0;
}

.project-section {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  height: 95vh;
}

.project-name {
  margin: .5em;
}

.mod-button {
  background-color: transparent;
  border: none;
}

.project {
  border: 3px solid black;
  width: 90%;
  height: 25vh;
  margin: .5em;
}