.template-modal>h2{
  font-size: 1em;
}

.template-modal>p,
.template-modal>ul>li{
  font-size: 0.7em;
  margin: 1em;
}

.template-modal>ul{
  margin-bottom: 1em;;
}

.template-modal>h1{
  color: black;
  font-size: 1.3em;
  text-align: center;
  margin: 1em;
}

.close-btn{
  margin: 1em;
}

.template-div{
  border-top: 4px solid #05c2d1;
  width: 40vw;
  margin: 0 10vw 0 10vw
}

.templates{
    margin: 1em 1em 3em 1em;
    width: 60vw;
    border: 1px solid #bcbec0;
    border-top: 4px solid #e0990a;
    align-self: center;
  }


.template-buttons{
  display: flex;
  justify-content: space-evenly;
}

#dtr, 
#fe-pr,
#be-pr {
  margin-bottom: 2em;
}