p {
  margin: .5em;
}

.page-container {
  display: flex;
  flex-direction: row;
}

.nav-bar {
  display: flex;
  height: 100vh;
  width: 15vw;
  border: 3px solid red;
}

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  height: 100vh;
  width: 35vw;

}

.profile-pic {
  width: 90%;
  height: auto;
}

.contact-info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-icon {
  width: 10%;
}

.contact {
  width: 60%;
  margin-left: 1em;
}

.info-box {
  flex-direction: row;
  display: flex;
  width: 100%;
}

.contact-icon {
  height: 5vh;
  width: 5vh;
}

.edit-button {
  margin-top: 2em;
}