.add-link-form{
  border: 2px solid #6d6e71;
  height: 30vh;
  width: 35vw;
  position: fixed;
  top: 20vh;
  left: 30vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.text-input {
  width: 20vw;
  height: 3em;
}

.links-to-display {
  display: flex;
  flex-direction: column;
}